/* app css stylesheet */
body {
	margin: 0;
	padding: 0;
}

.webcamContainer {
	width: 1000px;
	background-color: yellow;
}

#canvas{
	border: white solid 1px;

}

.webcam-live {
	
	position: absolute;
}